<h1>Create a new Pet</h1>

<form action="/pets" method="POST">

<label>Name:</label>
<input type="text" id="pet_name" name="pet[name]">
<br>

<h3>Existing Owner</h3>
<% @owners.each do |owner|%>
    <input type="radio" name="pet[owner_id]" id="<%=owner.id%>" value="<%=owner.id%>"><%= owner.name %><br>
<%end%>

<h3>New Owner</h3>
<br>
<label>Name:</label>
<input type="text" name="owner[name]" id="owner_name">
<br>
<input type="submit" value="Create Pet">
</form>

